= form_tag user_session_path do
  %li= text_field_tag 'user[email]'
  %li.nav-header Password
  %li= password_field_tag 'user[password]'
  = check_box_tag 'user[remember_me]'
  = label_tag "Remember me"
  %li
    %button Sign in
  %li= link_to "Forgot your password?", new_password_path('user')
  %li= link_to "Sign up!", new_user_registration_path
