= form_tag user_session_path do
  %tr
    %td.nav-header Email
  %tr
    %td= text_field_tag 'user[email]'
  %tr
    %td.nav-header Password
  %tr
    %td= password_field_tag 'user[password]'
  %tr
    %td= check_box_tag 'user[remember_me]'
  %tr
    %td= label_tag "Remember me"
  %tr
    %td
      %button Sign in
  %tr
    %td= link_to "Forgot your password?", new_password_path('user')
  %tr
    %td= link_to "Sign up!", new_user_registration_path

  -#%tr
    -#%td
      -#%h4 Or sign in with facebook
  -#%tr
    -#%td= link_to_rpx "Here", user_session_url
